.turbo
dist
node_modules
package-lock.json
*/**/yarn.lock
/.yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

.vscode
*.iml
.idea
.DS_Store
.temp
.tmp
.cache
.AppleDouble
.LSOverride

.env*.local
.env
